<div class="relative -mt-32 pt-32">
    <div class="absolute w-1/4 sm:w-auto h-auto left-0 top-0">
        <img src="{{ theme.link }}/src/images/deco_01.svg" alt="">
    </div>
    <div class="absolute w-2/3 sm:w-auto h-auto right-0 top-0">
        <img src="{{ theme.link }}/src/images/deco_03.svg" alt="">
    </div>
</div>