<a href="{{ item.link }}" class="relative overflow-hidden block h-full p-5 border border-solid border-pri-700 group c-gradient-trans">
    <div class="relative pl-3">
        <div class="text-sp1-400 text-small leading-[1rem]">{{ item.date('Y.m.d') }}</div>
        <h6 class="text-h6 mt-3">{{ item.title }}</h6>
    </div>
</a>