.c-gradient {
    &-01 {
        background: linear-gradient(22.49deg, #FAEADB 43.72%, rgba(250, 234, 219, 0.25) 93.37%);
    }
    &-02 {
        background: linear-gradient(15.01deg, theme('colors.pri.700') 29.25%, theme('colors.pri.400') 97.16%);
    }
    &-trans {
        &:before {
            content: '';
            @apply absolute w-full h-full top-0 left-0 -translate-x-full opacity-0 transition-all duration-500 ease-IO;
            background: linear-gradient(89.97deg, theme('colors.pri.300') 44.38%, rgba(255, 255, 255, 0) 103.7%);
        }
        &:hover {
            &:before {
                @apply translate-x-0 opacity-100;
            }
        }
    }
}